$primary:#07689F;
$secondary:#868e96;
$success:#28a745;
$danger:#dc3545;
$info:#A2D5F2;
$warning:#FF7E67;
$light:#FAFAFA;
$dark:#4e4e4e;
$enable-gradients:true;
$spacer:1.2rem;
$border-width:1px;
$btn-border-radius:2rem;

$enable-gradients:true;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: 'Raleway', sans-serif;
}
