<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Let's read your movie-mind!</h4>
  </div>
  <div class="modal-body">
    Explore a network of different topics, and we will find movies that fit your preferences!
    <img class="img-responsive" src="assets/images/popcorn.jpg">

  </div>
  <div class="modal-footer" style="display: flex; justify-content: center;">
    <button type="button" (click)="onClose()" class="btn btn-success btn-lg"><i class="fas fa-video"></i> Get started</button>
</div>