<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="text-primary">MindReader</h3>
        </div>

        <div class="card-body" [ngBusy]="loading">
          <ngb-alert *ngIf="showError" (close)="showError = false" type="danger">We can't connect to our server right now, please try again later.</ngb-alert>

          <ng-container
            *ngIf="posPredictions; then hasPredictions; else hasEntities">
          </ng-container>

          <ng-template #hasPredictions>
            <app-predictions (restart)="reset()" [posPredictions]="posPredictions" [negPredictions]="negPredictions" (finished)="initialResult($event)"></app-predictions>
          </ng-template>

          <ng-template #hasEntities>
            <app-entity-list [entities]="samples" (finished)="initialResult($event)"></app-entity-list>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
