<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow">
        <div class="card-header">
          <h1 class="display-4 text-primary">MindReader</h1>
        </div>

        <div class="card-body" [ngBusy]="loading">
          <ng-container
            *ngIf="posPredictions; then hasPredictions; else hasEntities">
          </ng-container>

          <ng-template #hasPredictions>
            <app-predictions [posPredictions]="posPredictions" [negPredictions]="negPredictions" (result)="initialResult($event)"></app-predictions>
          </ng-template>

          <ng-template #hasEntities>
            <app-entity-list [entities]="samples" (result)="initialResult($event)"></app-entity-list>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>